*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Marcellus', serif;
}


//Header

#Header{
    position: fixed;
    width: 100%;
    .header-all{
        align-items: center;
        .left{
            img{
                width: 25%;
            }
        }
        .right{
            display: flex;
            .dropdown{
                display: inline-block;
                margin: 0 15px;
                position: relative;
                .dp-content{
                    opacity: 0;
                    visibility: hidden;
                }
                .dropbtn{
                    color: #fff;
                    text-decoration: none;
                }
                &:hover{
                    .dp-content{
                        opacity: 1;
                        visibility: visible;
                    }
                }
                .first{
                    position: absolute;
                    top: 160%;
                    left: -20px;
                    min-width: 230px;
                    padding: 22px;
                    transition: 0.4s;
                    opacity: 0;
                    background-color: #1d1d1d;
                    line-height: 30px;
                    a{
                        text-decoration: none;
                        display: block;
                        color: #c3c3c3;
                        font-size: 12px;
                    }
                }
                .second{
                    position: absolute;
                    top: 275%;
                    transition: 0.4s;
                    background-color: #1d1d1d;
                    line-height: 32px;
                    min-width: 96.45rem;
                    left: -75rem;
                    opacity: 0;
                    padding:24px 7rem;
                    span{
                        font-size: 14px;
                        color: #fff;
                    }
                    a{
                        text-decoration: none;
                        display: block;
                        color: #c3c3c3;
                        font-size: 12px;
                    }
                }
            }  
            .icon{
                a{
                    text-decoration: none;
                    margin: 10px;
                    i{
                        color: #fff;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

#MediaHeader{
    display: none;
    a{
        margin-left: 50px;
        color: #000;
        font-size: 18px;
    }
    img{
        width: 25%;
        margin: 20px 120px;
    }
}

//Slider

#Slider{
    background-image: url(https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/home-1-slider-image-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 2rem;
    .slider-all{
    .slider-top{
        h2{
            font-size: 100px;
            font-weight: 400;
            letter-spacing: 5px;
            line-height: 110px;
            color: #fff;
        }
    }
    .slider-alt{
        p{
            font-size: 18px;
            line-height: 30px;
            font-weight: 300;
            color: #fff;
            margin-bottom: 4rem;
            margin-top: 22px;
        }
        a{
            padding: 20px 40px;
            text-decoration: none;
            color: #fff;
            border: 2px solid #fff;
            background-color: transparent;
            &:hover{
                background-color: #be9c79;
                border: #be9c79;
            }
        }
    }
   }
}

#First{
    padding: 6rem;
    text-align: center;
    .first-text{
        h2{
            font-size: 45px;
            letter-spacing: 2px;
            font-weight: 400;
            color: #262626;
        }
        h6{
            font-size: 18px;
            line-height: unset;
            color: #262626;
            margin: 20px 0;
            font-weight: 300;
            letter-spacing: 2px;
        }
    }
}

#Second{
    text-align: center;
    .second-all{
        .box{
            img{
                margin-bottom: 15px;
            }
            a{
                text-decoration: none;
                color: #262626;
                font-size: 20px;
                margin-top: 5px;
                &:hover{
                    color: #be9c79;
                }
            }
            p{
                font-size: 15px;
                line-height: 26px;
                font-weight: 300;
                color: #656565;
                margin: 15px;
            }
        }
    }

}

#Third{
    background-image: url(https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/new-new-h1-bacground-img-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    .third-all{
        .third-top{
            padding: 3rem 0;
            text-align: center;
            h2{
                font-size: 45px;
                letter-spacing: 2px;
                font-weight: 400;
                color: #262626;
            }
            h6{
                font-size: 18px;
                line-height: unset;
                color: #262626;
                margin: 20px 0;
                font-weight: 300;
                letter-spacing: 2px;
            }
        }
        .third-bottom{
            text-align: left;
            .box{
                img{
                    cursor: pointer;
                    margin-bottom: 2rem;
                }
                a{
                    text-decoration: none;
                    color: #262626;
                    font-size: 20px;
                    &:hover{
                        color: #be9c79;
                    }
                }
                .box-text{
                    p{
                        margin-top: 1.5rem;
                        font-size: 15px;
                        color: #656565;
                    }
                    a{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
.clear{
    clear: both;
}
#Fifth{
    background-image: url(https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/h1-bacground-img-2.jpg);
    background-position: center;
    background-size: cover;
    padding: 7rem;
    background-attachment: fixed;
}

#Sixth{
    padding: 4rem;
    .box{
        h2{
            color: #be9c79;
            font-size: 55px;
        }
        h5{
            font-size: 20px;
            font-weight: 500;
            margin: 10px;
        }
        p{
            font-size: 15px;
            font-weight: unset;
            line-height: 26px;
            letter-spacing: 1px;
        }
    }
}

#Seventh{
    background-image: url(https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/h1-bacground-img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .seventh-all{
        .seventh-top{
            padding: 3rem 0;
            text-align: center;
            h2{
                font-size: 45px;
                letter-spacing: 2px;
                font-weight: 400;
                color: #262626;
            }
            h6{
                font-size: 18px;
                line-height: unset;
                color: #262626;
                margin: 20px 0;
                font-weight: 300;
                letter-spacing: 2px;
            }
        }
        .seventh-bottom{
            .box{
                position: relative;
                &:hover{
                   a{
                       opacity: 1;
                   }
                   img{
                       filter: opacity(.4);
                   }
               }
               a{
                   position: absolute;
                   text-decoration: none;
                   color: white;
                   background-color:#be9c79;
                   border: 1px solid #be9c79;
                   padding: 10px 25px;
                   opacity: 0;
                   transition: .4s;
                   top: 40%;
                   left: 50%;
                   transform: translate(-50%,-50%);
                   &:hover{
                       background-color: #1d1d1d;
                       border: #1d1d1d;
                   }
               }
                .text{
                    margin: 15px;
                    span{
                        text-decoration: none;
                        color: #262626;
                        font-size: 20px;
                        margin: 10px;
                        &:hover{
                            color: #be9c79;
                        }
                    }
                    p{
                        color: #656565;
                        font-weight: unset;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

#Ninth{
    .ninth-top{
        padding: 3rem 0;
        text-align: center;
        h2{
            font-size: 45px;
            letter-spacing: 2px;
            font-weight: 400;
            color: #262626;
        }
        h6{
            font-size: 18px;
            line-height: unset;
            color: #262626;
            margin: 20px 0;
            font-weight: 300;
            letter-spacing: 2px;
        }
    }
    .ninth-bottom{
        .box{
            padding: 10px 10px;
            position: relative;
            .overlay{
                position: absolute;
                top: 10px;
                left: 10px;
                width: 95%;
                height: 95%;
                transition: 0.4s;
            }
            .box-text{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                opacity: 0;
                transition: 0.4s;
                h4{
                    font-size: 26px;
                    color: #fff;
                }
                a{
                    color: #fff;
                    text-decoration: none;
                    font-size: 15px;
                    transition: .4s;
                    &:hover{
                        color: #bd956e;
                    }
                }
            }
            &:hover{ 
                .overlay{
                    opacity: .8;
                    background-color:black;
                }
                .box-text{
                    opacity: 1;
                }
            }
        }
    }
}

#Logo{
    padding: 4rem ;
    .box{
        cursor: pointer;
        img{
            width: 100%;
        }
       &:hover{
           img{
            filter: grayscale(.1);
           }
       }
    }
}

#Corretto{
    background-image: url(https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/p2-background-img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    padding: 4rem;
    .text{
        font-size:20px ;
        font-weight: 400;
        color: #262626;
        line-height: 1.5rem;
        letter-spacing: 1px;
    }
    .box{
        a{
            text-decoration: none;
            font-size: 12px;
            color: #fff;
            background-color:#bd956e ;
            padding: 19px 35px;
            font-weight: bold;
            &:hover{
                background-color: #262626;
            }
        }
    }
}

#Footer{
    background-image: url(https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/footer-top-img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    .footer-top{
        text-align: center;
        padding: 2rem;
        img{
            padding: 2rem;
        }
        p{
            color: #fff;
            margin-bottom: 0;
        }
    }
    .footer-middle{
        h5{
            color: #fff;
            font-weight: bold;
        }
        a{
            text-decoration: none;
            color: #fff;
            &:hover{
                color: #bd956e;
            }
        }
    }
    .footer-bottom{
        padding: 3rem;
        h5{
            color: #fff;
            margin-top: 2rem;
        }
        input{
            padding: 19px 23px;
            font-size: 14px;
            height: 20px;
            background-color: transparent;
            width: 30%;
            font-weight: inherit;
            border: 1px solid #ccc;
            color: #fff;
            border-radius: 0;
        }
        span{
            background-color: #fff;
            padding: 10px;
            i{
                color: #000;
                font-size: 30px;
            }
            &:hover{
                background-color: #be9c79;
            }
        }
    }
}

#Footer-end{
    background-color: #1d1d1d;
    padding: 3rem;
    .box1{
        p{
            color: #fff;
            font-size: 15px;
            a{
                color: #fff;
                text-decoration: none;
                &:hover{
                    color: #bd956e;
                }
            }
        }
    }
    .box2{
        a{
            color: #fff;
            text-decoration: none;
            margin: 10px;
            font-weight: 500;
            &:hover{
                color: #be9c79;
            }
        }
    }
    .box3{
        text-align: center;
        a{
            text-decoration: none;
            margin: 8px;
            i{
                color: #fff;
                font-size: 20px;
                &:hover{
                    color: #bd956e;
                }
            }
        }
    }
}


// MEDIA

@media (max-width: 576px) {
    .container-sm, .container {
      max-width: 540px;
    }
    #Header{
        display: none;
    }
    #MediaHeader{
        display: block;
    }
    #Corretto{
        .box{
            padding-top: 40px;
        }
    }
    #Footer-end{
        text-align: center;
        .box2{
            padding: 2rem;
        }
    }
}